* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Mega", sans-serif;
  color: black;
  font-size: 22px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  height: 11rem;
  
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 30px 0;
}

h2 {
  font-size: 1.5em;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 10%;
}

li a {
  color: black;
}

.main {
  padding-top: 35px;
  opacity: 0.9;
}

#mission {
  display: flex;
  height: 300px;
  padding-top: 35px;
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
}

#mission .content {
  margin: auto;
  width: 100%;
  background-color: white;
}
